{% extends "base.html" %}
{% load static %}
{% load image_filters %}

{% block body %}

<div class="container-fluid px-0">

    {# ===== TOP ADVERTISEMENTS ===== #}
    {% include "top_ads.html" %}

    {# ===== TOP NEWS SECTION ===== #}
    {% include "topnews.html" %}

    {# ===== VIDEO NEWS SECTION ===== #}
    {% include "video_news.html" %}

    {# ===== MAIN NEWS ===== #}
    {% include "news1.html" %}

    {# ===== FEATURED ARTICLES ===== #}
    {% include "articale.html" %}

    {# ===== CATEGORY TABS ===== #}
    {% include "news_tabs.html" %}

    {# ===== REELS SECTION ===== #}
    {% include "reels-news.html" %}

   

</div>

{% endblock %}