{% load static %}
<!--LATESH INSTAGRAM POSTS End -->
<div class="my-5 text-center">
  <h3 class="text-center mb-4 h2-copy">LATEST INSTAGRAM POSTS</h3>
  <div class="row">
    <!-- SnapWidget -->
    <script src="https://snapwidget.com/js/snapwidget.js"></script>
    <iframe src="https://snapwidget.com/embed/1084202" class="snapwidget-widget" allowtransparency="true"
      frameborder="0" scrolling="no" style="border:none; overflow:hidden;  width:100%; "
      title="Posts from Instagram"></iframe>
  </div>
</div>
<!--LATEST INSTAGRAM POSTS End -->