{% load static %}
{% load image_filters %}

{% for category, subcategories_data in grouped_postsdata.items %}

<div class="row align-items-stretch">

  <!-- LEFT : BREAKING (3 news) -->
  <div class="col-lg-3 col-md-12 mb-3 mb-lg-0">
    <div class="card-bg-dark top-stories-widget rounded">

      <div class="card-header border-0 p-2">
        <h6 class="mb-0 fw-bold text-danger text-left">
          {{ category.cat_name }}
        </h6>
      </div>

      <div class="">
        {% for post in subcategories_data.posts|slice:"0:3" %}
        <div class="d-flex align-items-center mb-3 story-item">

          <a href="/{{ post.slug }}" class="me-2">
            <img src="{{ post.post_image.url|thumbnail_url }}"
                 class="story-img rounded"
                 loading="lazy">
          </a>

          <div class="flex-grow-1">
            <a href="/{{ post.slug }}" class="text-decoration-none">
              <div class="hover-title fw-semibold">
                {{ post.post_title|truncatechars:40 }}
              </div>
            </a>

            <div class="d-flex align-items-center small mt-1">
              <span>{{ post.schedule_date|date }} | {{ post.schedule_date|time }}</span>
              <div class="ms-2" style="--custom-bottom:0;--custom-right:0;">
                {% include 'share.html' with posts=post %}
              </div>
            </div>
          </div>

        </div>
        {% endfor %}

      </div>
    </div>
  </div>

  <!-- RIGHT : 2 BIG CARDS -->
  <div class="col-lg-9 col-md-12">
    <div class="row ">

      <!-- CARD 1 -->
      <div class="col-lg-4 col-md-6 col-12 mb-3">
        {% for post in subcategories_data.posts|slice:"3:4" %}
        <div class="card-bg-dark ">

          <a href="/{{ post.slug }}">
            <img src="{{ post.post_image.url|thumbnail_url }}"
                 class="img-fluid news-img"
                 loading="lazy">
          </a>

          <div class="pt-2">
            <a href="/{{ post.slug }}" class="text-decoration-none">
              <div class="hover-title fw-semibold small">
                {{ post.post_title|truncatechars:60 }}
              </div>
            </a>

            <div class="d-flex align-items-center small mt-2">
              <span>{{ post.schedule_date|date }} | {{ post.schedule_date|time }}</span>
              <div class="ms-2" style="--custom-bottom:0;--custom-right:0;">
                {% include 'share.html' with posts=post %}
              </div>
            </div>
          </div>

        </div>
        {% endfor %}
      </div>

      <!-- CARD 2 -->
      <div class="col-lg-4 col-md-6 col-12 mb-3">
        {% for post in subcategories_data.posts|slice:"4:5" %}
        <div class="card-bg-dark rounded">

          <a href="/{{ post.slug }}">
            <img src="{{ post.post_image.url|thumbnail_url }}"
                 class="img-fluid news-img"
                 loading="lazy">
          </a>

          <div class="pt-2">
            <a href="/{{ post.slug }}" class="text-decoration-none">
              <div class="hover-title fw-semibold small">
                {{ post.post_title|truncatechars:60 }}
              </div>
            </a>

            <div class="d-flex align-items-center small mt-2">
              <span>{{ post.schedule_date|date }} | {{ post.schedule_date|time }}</span>
              <div class="ms-2" style="--custom-bottom:0;--custom-right:0;">
                {% include 'share.html' with posts=post %}
              </div>
            </div>
          </div>

        </div>
        {% endfor %}
      </div>

     <!-- CARD 3 -->
      <div class="col-lg-4 col-md-6 col-12 mb-3">
        {% for post in subcategories_data.posts|slice:"5:6" %}
        <div class="card-bg-dark rounded">

          <a href="/{{ post.slug }}">
            <img src="{{ post.post_image.url|thumbnail_url }}"
                class="img-fluid news-img"
                loading="lazy">
          </a>

          <div class="pt-2">
            <a href="/{{ post.slug }}" class="text-decoration-none">
              <div class="hover-title fw-semibold small">
                {{ post.post_title|truncatechars:60 }}
              </div>
            </a>

            <div class="d-flex align-items-center small mt-2">
              <span>{{ post.schedule_date|date }} | {{ post.schedule_date|time }}</span>
              <div class="ms-2" style="--custom-bottom:0;--custom-right:0;">
                {% include 'share.html' with posts=post %}
              </div>
            </div>
          </div>

        </div>
        {% endfor %}
      </div>


    </div>
  </div>

</div>

{% endfor %}
<style>
  .card-bg-dark{
    background:#fff;
    border-radius:10px;
    border:1px solid #ddd;
    overflow:hidden;
}

.top-stories-widget .card-header{
    border-bottom:2px solid #e60000;
}

.story-item{
    gap:10px;
}

.story-img{
    width:70px;
    height:70px;
    object-fit:cover;
}

.news-img{
    height:190px;
    width:100%;
    object-fit:cover;
}

.hover-title{
    color:var(--text-color) !important;
    line-height:1.3;
}

.hover-title:hover{
    color:#e60000;
}

.small{
    font-size:12px;
    
}
@media (max-width: 991px) {
  .top-stories-widget {
    margin-bottom: 20px;
    max-width: 100% !important;
  }
}
</style>